html {
    font-size: 62.5%;
    background-color: #fff;
}

ul {
    list-style: none;
}

.nav-bar-left-buttons{
    margin-right: 4rem;
    float: left;

}

.nav-bar-right-buttons {
    float: right;
    margin-right: 4rem;
}

.nyt-logo{
    text-align: center;
}