html {
    font-size: 62.5%;
    background-color: #fff;
}


.nav-bar {
}

.nav-bar-buttons-left{
    margin-right: 4rem;
    float: left;
    text-align: center;

}

.nyt-logo{
    display: inline-block;
    text-align: center;
}

.nav-bar-right-buttons {
    margin-right: 4rem;
    float: right;
}

