html {
  font-size: 62.5%;
  background-color: #fff;
}

body {
  font-family: "Times New Roman";
  font-weight: 400;

}

.nav-bar{
  background-color: white;
  position: fixed;
  width: 100%; 
  top: 0;
  left: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

li {
  float: left;
  vertical-align: middle;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nytimes-logo {
  width: 20rem;
  text-align: center;
}

.left-buttons{
    margin: 0 1rem 0 0.7rem;
    background: #fff;

}

.f-right {
  float: right;
  margin-right: 2rem;

}

.lbtn{
    background: #fff;
    border: 0px;
    padding: 1rem;
    cursor: pointer;
}

.rbtn{
  margin-top: 0.3rem;
  color: #fff;
  border: 0px;
  padding: 1.3rem 1.5rem 0.8rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;

}

.button-hovering {
  background: rgba(86,123,149, 0.9);
}

.button-hovering:hover {
  background-color: rgba(86,123,149, 2);
}

.ad-space {
  background-color: #f7f7f7;
  width: 100%;
  height: 15rem;
}

.first-box {
  box-sizing: border-box;
  padding: 3rem;
  text-align: center;
}

.first-box img{
  width: 70%;
}

.main-title{
  display: inline-block;
}

.main-title h1 {
  font-size: 4rem;
  font-style: italic;

}

.main-title p {
  margin-top: 1rem;
  text-align: start;
}

.picture-paragraph {
  font-size: 1.5rem;
  margin-top: 1rem;
  display: inline-block;
  text-align: start;
  width: 70%;
}


.page-container{
  margin: 0 20rem 0 35rem;
}


.author-name {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;

}

.remove-underling-hovering {
  text-decoration: underline;
}

.remove-underling-hovering:hover {
  text-decoration: none;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); 
  display: inline-block;
}

.article-date {
  font-size: 1.3rem;
}

.first-row i {
  text-align: end;
  padding-left: 2.5rem;
  font-size: 2rem;
  float: left;
  color: black;
}

.article{
  float: left;
  margin-right: 15rem;
  font-size: 2.3rem;
  letter-spacing: normal;
  font-weight: .7rem;
  line-height: 2.9rem;
}

.blue-text:link,
.blue-text:visited {
  color: #3268ad;
}

.bold-text {
  font-weight: bold;
}

.editor__pick-container {
  display: relative;
  float: right
}


.editor__picks{
  width: 31rem;
  position: absolute;
  top: 180rem;
  margin-left: -30rem;
}

.editor__picks h4 {
  margin: -1rem 4rem;
  font-size: 1.5rem;
}

.editor__picks hr {
  margin: 2rem 5rem 1.5rem 4rem;
  background-color: rgb(128, 128, 128);
  height: .5px;
}


.editor__pick-article {
  width: 20%;
}

.editor__pick-image {
  width: 7.5rem;
  margin-left: 4rem;

}

.editor__pick-text {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  float: right;
  transform: translate(20rem, -7rem);
  margin-left: -7rem;
  margin-right: 3rem;
}

.theory-inflation{
  display: inline-block;
  letter-spacing: 0;
  line-height: 2rem;

}

.theory-inflation-heading{
  margin: 0 20rem 0 15rem;

}


.theory-inflation-title {
  font-size: 1.8rem;

}

.theory-inflation-txt{
  font-size: 1.4rem;
  margin-top: -1.5rem;
  color: gray;
  text-align: justify;

}

.theory-of-inflation-container{
  margin: 0 10rem 0 15rem;

}

.card-top {
  display: flex;
  float: left;
  padding-right: 4rem;
}

.card-bottom {
  display: flex;
  float: left;
  padding-right: 4rem;
  margin-top: 2rem;
}

.card-container-top, .card-container-bottom {
  margin-right: 3rem;
}

.card-container-image-top, .card-container-image-bottom {
  width: 15rem;
}

.card-container-text-top, .card-container-text-bottom {
  font-size: 1.4rem;
}


.inline-vid-img{
  width: 100%;
  display: inline-block;
}

.inline-vid-img img{
  width: 100%;
  margin-bottom: 1rem;
  display: inline-block;
}

.inline-vid-img span{
  font-size: 1.4rem;
  line-height: 2rem;
}

.page-container-footer{
  font-size: 1.3rem;
  color: dimgray;
  margin-bottom: 4rem;

}

.page-container-footer p {
  margin-bottom: -2.5rem;
}


.page-container-footer a {
  color: dimgray;
}

.read-comments-button {
  padding: 1.3rem 3rem .7rem 3rem;
  text-align: center;
  width: 30rem;
  cursor: pointer;
  margin-right: 3rem;
  border-radius: .6rem;
  color: white;
}

.col-end-of-article i {
  float: right;
}

.more-articles-section {

}

.left-line-separator {
  border-top: .1rem solid black;
  margin-bottom: 4rem;
  margin-right: 5rem;
}

.second-row {
  margin: 8rem 0 0 10rem;
  width: 65%;

}

.col-1-of-3 {
  width: calc((100% - 2 * 2rem) / 3);
  display: inline-block;
}

.col-1-of-3 img {
  width: 25rem;
}